.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 35em;
  margin: auto;
  padding: 0 2rem;
}
.contact-container h1 {
  font-weight: 400;
  margin-bottom: 1em;
  font-size: 1.3em;
  align-self: flex-start;
}
.contact-container p {
  margin-bottom: 4em;
  font-size: 0.9em;
  line-height: 20px;
}

.form-wrapper {
  width: 100%;
  max-width: 35em;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  font-size: 0.9em;
  color: #636363;
}

.contact-input {
  margin-top: 0.8em;
  height: 3em;
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.contact-input:focus {
  border: 1px solid #5fa372;
}

.contact-textarea {
  margin-top: 0.8em;
  padding: 1em 0.8em;
  height: 16em;
  min-width: 100%;
  font-size: 0.9em;
  line-height: 20px;
  margin-bottom: 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.contact-textarea:focus {
  border: 1px solid #5fa372;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
}

#submit-btn {
  background-color: #5fa372;
  border: none;
  font-size: 0.9em;
  padding: 0.8em 1.3em;
  height: 100%;
  margin-top: 0;
  cursor: pointer;
  color: #ffffff;
  border-radius: 2px;
}

#submit-btn:hover {
  background-color: #559466;
}

@media (max-width: 480px) {
  .contact-container {
    padding: 0 1rem;
  }
}
