.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 18em;
}

.signin-opt-division {
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  font-size: 500;
  color: #636363;
  margin-bottom: 2em;
}

.auth-wrapper {
  padding: 2em 2em;
  max-width: 26em;
  padding-top: 0;
  background-color: rgba(255, 255, 255, 0.96);
}
.auth-wrapper a {
  display: inline-block;
}
.auth-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
.auth-wrapper label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  max-width: 26em;
  font-size: 0.9em;
}
.auth-wrapper label:last-of-type {
  height: 95px;
  margin-bottom: 1em;
}
.auth-wrapper input {
  margin-top: 0.8em;
  height: 35px;
  padding: 0.7em;
  font-size: 0.9em;
  border: 1px solid #e0e0e0;
  width: 27em;
  border-radius: 2px;
}
.auth-wrapper input:focus {
  border: 1px solid #5fa372;
}
.auth-wrapper p {
  color: #e13040;
  font-size: 0.9em;
  margin-top: 0.8em;
}

.title-line {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 2em;
  text-align: center;
}

.auth-btn-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

#forgot-password {
  margin-left: 1em;
  font-size: 0.9em;
  color: #5fa372;
  font-weight: 500;
}

.auth-btn {
  margin-top: 0;
  background-color: #5fa372;
  border: none;
  font-size: 0.9em;
  padding: 0.7em 1.2em;
  display: flex;
  height: 100%;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
}

.auth-btn:hover {
  background-color: #559466;
}

.auth-flex-wrapper {
  display: flex;
  justify-content: space-between;
}

#loader-btn {
  margin-top: 0;
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding: 0.5em 1em;
  display: flex;
  height: 100%;
  width: 92px;
}

.signin-h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 4em;
  margin-bottom: 1em;
}

#reg-benefit {
  color: black;
  line-height: 22px;
}

.reg-btn {
  background-color: #f3f2f0;
  color: black;
  margin-top: 1.5em;
  font-weight: 400;
}

.reg-btn:hover {
  background-color: #e8e6e2;
}
