@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  text-align: left;
  padding: 0 2rem;
}
.about-container p {
  margin-bottom: 2em;
  font-size: 0.9em;
  line-height: 25px;
}
.about-container p:last-of-type {
  margin-bottom: 0;
  font-weight: 500;
}

.about-img {
  height: auto;
  width: 100%;
}

.image-attribution-wrapper {
  margin-bottom: 3em;
}

.attribution {
  margin-top: 0.5rem;
  color: #a4a4a4;
  font-size: 0.8rem;
  float: right;
}
.attribution a {
  font-size: 0.8rem;
}

.diff-font {
  font-family: Sacramento;
  font-size: 2.5em;
  color: #000000;
  font-weight: normal;
}

.intro-name {
  margin-top: 1em;
  color: #000000;
  margin-bottom: 1em;
  font-weight: normal;
  text-align: left;
  font-size: 1.5em;
}

@media (max-width: 480px) {
  .about-container {
    padding: 0 1rem;
  }
}
